<!doctype html>
<html>
<head>
  <title>SROH Tier List Creator</title>
  
  <meta name="description" content="Create your own Skylanders:ROH Tier List." />
  <script src="https://unpkg.com/vue"></script>
  <link rel="icon" type="image/png" href="images/tab-icon.svg" />

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

  <!-- semantic-ui -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css" />

  <style type="text/css">
    .tier_selector * {
      padding: 5px;
    }
    .no-select {
       user-select:        none;       
      -webkit-user-select: none;
      -moz-user-select:    none;     
      -ms-user-select:     none;     
    }
    #comment-icon:hover, #chompy:hover {
      color: limegreen;
    }
  </style>
</head>

<body>
  <div id="app" class="ui stackable grid" style="padding: 1em;">
    <!-- Start of sidebar -->
    <div id="unit-scroller" class="four wide computer fourteen wide tablet column centered" v-show="!expanded">
      <div id="unit-panel" class="ui center aligned header">
        <div class="ui header">Skylanders: ROH</div>
        <div >
          <img :src="'./images/borders/' + unit.unlock_stars + '.png'" style="
            position: absolute; 
            transform: scale(0.95) translateX(-7px) translateY(-7px);
            box-shadow: 4px 4px 4px silver;
          ">
          <img :src="'./images/units/' + unit.name + '.png'" style="z-index: -1; margin-bottom: 10px; margin-right: 5px">
          </img>
          <i id="comment-icon" class="ui material-icons no-select" v-on:click="editComment=!editComment" style="position: absolute;margin-left: 10px;transform: scale(1.2);">
            message
          </i>
        </div>
        <div>
          
          <div class="ui one header" style="color: rgb(40, 40, 40)">
            {{ unit.name }}
          </div>
          
          <div class="ui five mini statistics">
            <div class="green statistic">
              <div class="value">{{ unit.stats.hp }}</div>
              <div class="label">HP</div>
            </div>
            <div class="red statistic">
              <div class="value">{{ unit.stats.atk }}</div>
              <div class="label">Atk</div>
            </div>
            <div class="blue statistic">
              <div class="value">{{ unit.stats.def }}</div>
              <div class="label">Def</div>
            </div>
            <div class="grey statistic">
              <div class="value">{{ unit.stats.acc }}</div>
              <div class="label">Acc</div>
            </div>
            <div class="orange statistic">
              <div class="value">{{ unit.stats.endurance }}</div>
              <div class="label">End</div>
            </div>
          </div>

          <div class="ui divider"></div>

          <div class="tier_selector" v-if="!editComment">
            <p>Current rank: {{ ranking }}</p>
            <div class="ui selection list">
              <button class="ui button" v-for="rank in rankings.slice(1, rankings.length)" v-on:click="addRank(unit.name, rankings.indexOf(rank))" style="margin: 2px">{{ rank }}</button>
            </div>

            <!-- Start of Add New Tier-->
            <button class="ui button" v-on:click="editTiers=!editTiers">Customize Tiers</button>
            <div v-if="editTiers">
              <div class="ui hidden divider"></div>
              <div class="ui action input" style="width: 100%">
                <input type="text" placeholder="eg. EX" v-model="tierToAdd">
                <select class="ui compact selection dropdown" v-model="parentTier">
                  <option v-for="rank in rankings">{{ rank }}</option>
                </select>
              </div>
              <button class="ui button" v-on:click="addTier(tierToAdd, parentTier)">Add New Tier Above {{ parentTier }}</button>

              <div class="ui hidden divider"></div>
              <!-- End of Add New Tier -->

              <!-- Start of Delete Tier -->
              <div class="ui" style="width: 100%">
                <select class="ui fluid dropdown" v-model="tierToDelete">
                  <option v-for="rank in rankings.slice(1,rankings.length)">{{ rank }}</option>
                </select>
              </div>
              <button class="ui button" v-on:click="deleteTier(tierToDelete)">Delete Tier {{ tierToDelete }}</button>
              <button class="ui button" v-on:click="deleteAllTiers()">Delete All Tiers</button>
              <!-- End of Delete Tier -->
            </div>
          </div>

          <!-- Start of add comment -->
          <div v-if="editComment">
            <div class="ui action input" style="width: 100%">
              <input type="text" :placeholder=placeholder v-model="comment">
              <button class="ui button circular icon green" v-on:click="addComment(unit.name, comment)">
                <i class="material-icons">save</i>
              </button>
            </div>
            <div class="ui hidden divider"></div>
            <div class="ui toggle checkbox">
              <input type="checkbox" id="closeOnCommentSaved" checked>
              <label>Close on Save</label>
            </div>
          </div>
          <!-- End of add comment -->
        </div>
      </div>

      <!-- Start of unit info -->
      <div class="ui divider"></div>

      <!-- Start of unit listing -->
      <div class="ui form">
        <!-- Filters -->
        <div class="one field">
          <div class="field">
            <label>Search</label>
            <input type="text" v-model="searchFilter" v-on:input="resetIndex">
            </input>
          </div>

        </div>
        <div class="three fields">
          <div class="field">
            <label>Element</label>
            <select v-model="selectedElement">
              <option selected value="">All</option>
              <option>Fire</option>
              <option>Water</option>
              <option>Life</option>
              <option>Air</option>
              <option>Magic</option>
              <option>Tech</option>
              <option>Earth</option>
              <option>Undead</option>
              <option>Light</option>
              <option>Dark</option>
            </select>
          </div>
          <div class="field">
            <label>Role</label>
            <select v-model="selectedRole">
              <option selected value="">All</option>
              <option>Attack</option>
              <option>Defense</option>
              <option>Support</option>
              <option>Expert</option>
            </select>
          </div>
          <div class="field">
            <label>Rarity</label>
            <select v-model="selectedRarity">
              <option selected value="">All</option>
              <option>*</option>
              <option>**</option>
              <option>***</option>
              <option>****</option>
              <option>*****</option>
            </select>
          </div>
        </div>
      </div>

      <!-- Unit List -->
      <div style="height: 300px;" v-show="!importing && !exporting">
        <div class="ui selection list" style="height: 100%; overflow-y: scroll;">
          <div :name="unit.name" class="item" v-for="unit in unit_list" v-on:click.stop="selectUnit(unit.name)">
            <img class="ui avatar image" :src="'./images/units/' + unit.name + '.png'">
            <div class="content">
              <div class="header">{{ unit.name }}</div>
            </div>
          </div>
        </div>
      </div>

      <!-- Export Field -->
      <div style="height: 300px;" v-show="exporting">
        <div class="ui form">
          <div ui action input class="field" style="text-align: center">
            <label v-if="!link.length">Copy text from here</label>
            <label v-else style="color: red; font-style: italic">might want to use a URL shortener...</label>

            <textarea id="exportText" readonly rows="11">{{ rankToText }}</textarea>
            <button v-if="!link.length" v-on:click="createShareableLink()" class="ui inverted blue button" style="margin-top: 10px;">As Link</button>
            <button v-else v-on:click="setExportToJSON()" class="ui inverted blue button" style="margin-top: 10px;">As JSON</button>
            
            <button onclick="copytoClipboard()" class="ui teal right labeled icon button">
                <i class="copy icon"></i>Copy
              </button>
          </div>
        </div>
      </div>

      <!-- Import Field -->
      <div style="height: 300px;" v-show="importing">
        <div class="ui form">
          <div class="field" style="text-align: center">
            <label>Paste text here</label>
            <textarea id="importText" rows="11" @input="textToRank($event.target.value)"></textarea>
            <button v-on:click="useChompyTierList()" title="Last Updated: 12th April 2019" class="ui inverted green button" style="margin-top: 10px;">Chompy</button>
          </div>
        </div>
      </div>

      <div>
        <label>Progress: {{ rankCount }} / {{ all_units.length }}</label>
      </div>
      <!-- End of unit listing -->

      <div class="ui divider"></div>

      <!-- Start of action buttons -->
      <div class="ui four buttons">
        <button class="ui button icon orange" v-on:click="randomize()">
            <i class="material-icons">polymer</i>
            Random
        </button>
        <button class="ui button icon red" v-on:click="reset()">
            <i class="material-icons">delete_forever</i>
            Reset
        </button>
        
        <button class="ui button icon green"  v-if="!importing" v-on:click="importing = !importing; exporting = false">
            <i class="material-icons">sync</i>
            Import
        </button>
        <button class="ui button icon green" v-else v-on:click="importing = false; exporting = false">
            <i class="material-icons">view_list</i>
        </button>


        <button class="ui button icon blue" v-if="!exporting" v-on:click="exporting = !exporting; importing = false">
            <i class="material-icons">share</i>
            Share
        </button>
        <button class="ui button icon blue" v-else v-on:click="importing = false; exporting = false">
            <i class="material-icons">view_list</i>
        </button>
      </div>
      
      <!-- End of action buttons -->
    </div>
    <!-- End of side bar -->
    
    <!-- Start of Table -->
    <div id="grid" class="column centered"
      :class="!expanded ? 'twelve wide computer fourteen wide tablet' : 'sixteen wide computer sixteen wide tablet'">
      <table class="ui celled table center aligned" style="min-height: 900px;">
        <thead>
          <th :style="evenwidth ? 'width: calc(100% / 13)' : ''">
            <div class="ui small basic icon buttons">
              <button class="ui button" data-tooltip="Toggle fullscreen mode" data-position="bottom center" v-on:click="expanded = !expanded">
                <i :class="!expanded ? 'expand icon' : 'compress icon'"></i>
              </button>
              <button class="ui button" data-tooltip="Toggle column width" data-position="bottom center" v-on:click="evenwidth = !evenwidth">
                <i :class="!evenwidth ? 'resize horizontal icon' : 'resize vertical icon'"></i>
              </button>
            </div>
          </th>
          <th :style="evenwidth ? 'width: calc(100% / 13)' : ''" v-for="element in elements">
            <img style="width: 32px; height: 32px" :src="'./images/elements/' + element + '.png'"></img>
          </th>
        </thead>
        <tbody>
          <tr v-for="rank in rankings.slice(1, rankings.length).reverse()">
            <td>{{ rank }}</td>
            <td v-for="element in elements" :id="rank + '-' + element" style="padding: 0">
              <a v-for="unit in getRankedUnits(element, rank)" v-on:click="selectUnit(unit.name)" href="#!" style="position: relative; margin: 3px;">

                <div style="display: inline-flex; flex-direction: row; flex-wrap: wrap;">
                  <!-- border -->
                  <img :src="'./images/borders/' + unit.unlock_stars + '.png'" style="
                    position: absolute; width: 46px;">
                  
                  <!-- unit -->
                  <img :name="unit.name" :src="'./images/units/' + unit.name + '.png'" style="width: 43px; height: 43px; margin: 2px;">
                  
                  <!-- comment icon -->
                  <i v-if="unit.comment" class="material-icons" style="position: absolute; top: -9px; left: 22px; transform: scale(0.7);color: mediumspringgreen;">
                    info
                  </i>
                </div>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- End of Table -->
  </div>
</body>

<script src="./data/unit_data.js"></script>
<script src="./data/chompy-tier-list.js"></script>

<script>
  function copytoClipboard() {
    let copyText = document.getElementById("exportText"); 
    copyText.select(); 
    document.execCommand("copy");
  }

  units.forEach(function (unit) {
    unit.rating = 0;
    unit.comment = "";
  })
  units = units.filter(unit => !unit.name.includes('generic'))

  new Vue({
    el: '#app',
    data: {
      all_units: units,
      unit_index: Math.floor(Math.random() * units.length),
      originalRankings: ['Unranked', 'C', 'B', 'A', 'A+', 'S-', 'S', 'S+'],
      rankings: ['Unranked', 'C', 'B', 'A', 'A+', 'S-', 'S', 'S+'],
      elements: ['air', 'undead', 'water', 'tech', 'fire', 'magic', 'life', 'earth', 'light', 'dark'],
      selectedRole: "",
      searchFilter: "",
      selectedElement: "",
      selectedRarity: "",
      parentTier: "S+",
      tierToDelete: "",
      tierToAdd: "",
      link: "", // shareable link
      comment: "",
      editComment: false,
      importing: false,
      exporting: false,
      expanded: false,
      evenwidth: false,
      editTiers: false,
    },
    computed: {
      unit: function () {
        return this.all_units[this.unit_index]
      },
      ranking: function () {
        return this.rankings[this.unit.rating]
      },
      rankCount: function () {
        return this.all_units.map(unit => unit.rating).filter(rating => rating > 0).length
      },
      unit_list: function () {
        return this.all_units
          .filter(unit => unit.name.toLowerCase().includes(this.searchFilter.toLowerCase()))
          .filter(unit => this.selectedRole ? unit.role.toLowerCase() == this.selectedRole.toLowerCase() : unit)
          .filter(unit => this.selectedElement ? unit.element.toLowerCase() == this.selectedElement.replace(/\s+/g, '').toLowerCase() : unit)
          .filter(unit => this.selectedRarity ? unit.unlock_stars === this.selectedRarity.length : unit)
          .filter(unit => unit.rating == 0)
      },
      rankToText: function () {
        ratings = [{ rankings: this.rankings }];
        ratings = ratings.concat(this.all_units.map(unit => ({ 
          name: unit.name, 
          rating: unit.rating,
          comment: unit.comment || ""
        })));
        return JSON.stringify(ratings);
      },
      placeholder: function() {
        return this.unit.name + " is ...";
      }
    },
    methods: {
      resetIndex: function () {
        this.incrementIndex()
        this.decrementIndex()
      },
      incrementIndex: function (event) {
        if (this.unit_list.length == 0) return;

        current_unit_name = this.all_units[this.unit_index].name;
        next_unit_index = this.unit_list.map(unit => unit.name).indexOf(current_unit_name) + 1;

        if (next_unit_index >= this.unit_list.length) { 
          next_unit_index = 0;
        }

        next_unit_name = this.unit_list[next_unit_index].name;
        this.unit_index = this.all_units.map(unit => unit.name).indexOf(next_unit_name);
      },
      decrementIndex: function (event) {
        if (this.unit_list.length == 0) return;

        current_unit_name = this.all_units[this.unit_index].name;
        next_unit_index = this.unit_list.map(unit => unit.name).indexOf(current_unit_name) - 1;

        if (next_unit_index < 0) { 
          next_unit_index = this.unit_list.length - 1; 
        }

        next_unit_name = this.unit_list[next_unit_index].name;
        this.unit_index = this.all_units.map(unit => unit.name).indexOf(next_unit_name);
      },
      addRank: function (name, rating) {
        this.incrementIndex();
        this.all_units.find(unit => unit.name === name).rating = rating;
      },
      addComment: function (name, comment) {
        this.all_units.find(unit => unit.name === name).comment = comment;

        // close on comment saved toggle
        if ($('input[type="checkbox"')[0].checked) {
          this.editComment = !this.editComment;
        }
      },
      getRankedUnits: function (element, rank) {
        elements = [element];
        return this.all_units.filter(unit => elements.includes(unit.element.toLowerCase()) && unit.rating == this.rankings.indexOf(rank))
      },
      randomize: function () {
        length = this.rankings.length - 1
        this.all_units.forEach(function(unit) {
          unit.rating = Math.floor(Math.random() * length) + 1;

          if (Math.random() > 0.9) {
            unit.comment = "Random Comment"
          }
        })
      },
      reset: function () {
        this.all_units.forEach(function (unit) {
          unit.rating = 0;
          unit.comment = "";
        })
      },
      selectUnit: function (name) {
        this.unit_index = this.all_units.map(unit => unit.name).indexOf(name);
      },
      textToRank: function (text) {
        try {
          let ratings = JSON.parse(text);
          let importedRanking = ratings[0].rankings;

          if (importedRanking !== undefined) {
            let rankingChanged = this._isRankingAltered(importedRanking);

            if (rankingChanged) {
              this.rankings = importedRanking;
            }
            ratings = ratings.slice(1);
          } else {
            this._resetRanking();
          }

          ratings.forEach(rate => { 
            let u = this.all_units.find(unit => unit.name == rate.name)
            u.rating = rate.rating 
            u.comment = rate.comment;
          })
        }
        catch (err) { 
          console.log("textToRank went wrong.")
        }
      },
      setExportToJSON: function() {
        $('#exportText')[0].textContent = this.rankToText;
        this.link = "";
      },
      useChompyTierList() {
        let text = JSON.stringify(chompy_tier_list);
        $("#importText")[0].textContent = text;
        this.textToRank(text)
      },
      createShareableLink() {
        let b64Export = btoa($("#exportText")[0].textContent);        
        let w = window.location;
        this.link = w.host + w.pathname + ("?list=" + b64Export);
        $("#exportText")[0].textContent = this.link;
      },
      addTier: function (tierToAdd, parentTier) {
        if (this.rankings.indexOf(tierToAdd) !== -1) return;
        if (tierToAdd === "") return;

        let parentIndex = this.rankings.indexOf(parentTier);
        this.rankings.splice(parentIndex + 1, 0, tierToAdd);

        // make sure that units tiers are kept the same as before with the new tier added in
        this.all_units.filter(unit => unit.rating > parentIndex).forEach(unit => unit.rating++);
      },
      deleteTier: function (tierToDelete) {
        let tierIndex = this.rankings.indexOf(tierToDelete);

        if (tierIndex !== -1) {
          // reset all units in this tier back to unranked
          this.all_units.filter(unit => unit.rating === tierIndex).forEach(unit => unit.rating = 0);
          this.all_units.filter(unit => unit.rating > tierIndex).forEach(unit => unit.rating--);
          this.rankings.splice(tierIndex, 1);
        }
      },
      deleteAllTiers: function () {
        this.reset();
        this.rankings = ['Unranked'];
      },
      _isRankingAltered: function (newRanking) {
        let rankingChanged = false;
        if (newRanking.length !== this.originalRankings.length) {
          rankingChanged = true;
        } else {
          for (let i = 0; i < this.originalRankings.length; i++) {
            if (newRanking[i] !== this.originalRankings[i]) {
              rankingChanged = false;
              break;
            }
          }
        }
        return rankingChanged;
      },
      _resetRanking: function () {
        this.rankings = this.originalRankings;
      }
    },
    watch: {
      unit_index: function() {
        this.comment = this.unit.comment;
      }
    },
    updated() {
      this.all_units
        .filter(unit => unit.rating !== 0)
        .filter(unit => unit.comment !== "")
        .forEach(unit => {
          $(`img[name='${unit.name}']`).parent().popup({
            title   : unit.name,
            content : unit.comment
          });
        })
    },
    created() {
      // if the link contains json info in base64, convert it back and import
      if (window.location.search) {
        let argument = window.location.search;
        if (argument.indexOf("?list=") !== -1) {
          let text = atob(argument.split("?list=")[1]);
          $("#importText")[0].textContent = text;
          this.textToRank(text)
        }
      }
    }
  })
</script>

</html>